body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.left-side {
  position: relative;
}
.right-side {
  margin-top: -85px;
  position: relative;
  background-color: #d3dedc;
  height: 100vh;
  z-index: -10;
}
.img-main {
  height: 550px;
}
.frame {
  position: absolute;
  height: 580px;
  border: 5px solid #555;
  top: 100px;
  right: 400px;
  padding: 10px 10px 10px 10px;
  box-shadow: 10px 10px #9c9c9c;
}

.home-main-text {
  position: relative;
  top: 110px;
  left: 100px;
}

.home-main-text h1 {
  color: #92a9bd;
  font-weight: 700;
  font-size: 70px;
  font-family: "Open Sans", sans-serif;
}
.home-second-text {
  width: 500px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 30px;
}

.btn-hero {
  height: fit-content;
  width: fit-content;
}

.content-wrapper {
  display: flex;
}

@media all and (min-width: 375px) and (max-width: 992px) {
  * {
    overflow-x: hidden;
  }
  li {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
  }

  .content-wrapper {
    flex-direction: column;
  }
  .home-main-text {
    position: relative;
    top: 0;
    left: 0;
  }
  .home-main-text h1 {
    color: #92a9bd;
    margin-top: 30px;
    font-weight: 700;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
  }
  .home-second-text {
    width: 500px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 30px;
  }
  .left-side {
    position: relative;
    display: flex;
    order: 2;
  }
  .right-side {
    margin-top: 40px;
    position: relative;
    background-color: #ffffff;
    height: 400px;
    z-index: -10;
    justify-content: center;
    display: flex;
    order: 1;
  }
  .img-main {
    height: 350px;
  }
  .btn-home {
    margin-bottom: 30px;
  }
  .frame {
    position: absolute;
    height: fit-content;
    border: 5px solid #555;
    right: inherit;
    top: inherit;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px #9c9c9c;
  }
}

@media all and (min-width: 993px) and (max-width: 1367px) {
  .img-main {
    height: 450px;
  }
  .frame {
    position: absolute;
    height: 480px;
    border: 5px solid #555;
    top: 100px;
    right: 400px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px #9c9c9c;
  }
  .home-main-text h1 {
    color: #92a9bd;
    font-weight: 700;
    font-size: 55px;
    font-family: "Open Sans", sans-serif;
  }
}
